* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/*THIS IS THE NAV*/
#navigation {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	background-color: gray;
}

#nav-list {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	list-style-type: none;
	gap: 20px;
}

#logo-image {
	width: 50px;
	height: 50px;
}

/*THIS IS THE HEADER*/
#header {
	display: flex;
	justify-content: center;
}

#chicken-image {
	width: 600px;
	height: 200px;
}

/*THIS IS THE CONTENT - MAIN*/
#main {
	display: flex;
	flex-direction: column;
}

#main h2 {
	text-align: center;
}

#chicken-container {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	gap: 3%;
}

.chicken-breeds-container {
	display: flex;
	flex-direction: column;
}

.chicken-breeds-container p {
	text-align: center;
	max-width: 200px;
}

.chicken-breeds {
	width: 200px;
	height: 200px;
	object-fit: cover;
	object-position: center;
}

/*My attempt on psuedo class to target an element*/
.chicken-breeds-container:nth-of-type(2) img {
	object-position: right;
}
