* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/*THIS IS NAV*/
#navigation {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	background-color: gray;
}

#nav-list {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	list-style-type: none;
	gap: 20px;
}

#chicken-image {
	height: 50px;
	width: 50px;
}
