:root {
	--blue: #4d7a89;
	--green: #8fba77;
	--beige: #fdf7d6;
	--turquoise: #78cbc6;
	--gray: #1f1f1f;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	height: 100%;
	scroll-behavior: smooth;
	font-family: "Inter", Roboto, sans-serif;
}

body {
	display: flex;
	flex-direction: column;
	justify-content: stretch;
	min-height: 100vh;
}

/*THIS IS THE HEADER AND MAYBE SOME OTHERS*/
.blue {
	background-color: var(--blue);
}

.header {
	padding: 1vh 15vw;
	height: 100%;
}

#navigation {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

#logo-container {
	display: flex;
	align-items: center;
	justify-content: center;
}

#logo-image {
	width: 3.1rem;
	height: 3.1rem;
	margin: auto 0.5rem;
}

#logo-name {
	display: inline-block;
	font-size: 1.2rem;
	font-weight: 700;
}

#nav-list {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	list-style-type: none;
	gap: 2vw;
	font-size: 1rem;
	margin: auto 1rem;
}

.egg {
	border: 0.12em solid var(--beige);
	width: 1.2rem;
	height: 1.55rem;
	border-radius: 100% / 125% 125% 80% 80%;
	transform: rotate(25deg);
}

a {
	text-decoration: none;
	color: var(--gray);
}

/*HORIZONTAL BREAK*/
hr {
	color: var(--beige);
	margin: 1vw auto;
}

/*THIS IS THE HEADER*/
#hero {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 10vh auto;
	gap: 3rem;
}

#hero-div {
	width: 50%;
}

#hero-div h1 {
	font-size: 3.1rem;
	font-weight: 900;
}

#hero-div p {
	font-size: 1.3rem;
	margin: 3% auto;
	color: var(--gray);
}

#chicken-image {
	min-width: 50%;
	max-height: 40vh;
	object-fit: cover;
	border-radius: 1%;
}

/*THIS IS THE CONTENT - MAIN*/
#main {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 5vh 15vw;
	padding-bottom: 13vh;
}

#main h2 {
	text-align: center;
	font-size: 2.5rem;
	margin-bottom: 5vh;
}

#chicken-container {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	gap: 3vw;
}

.chicken-breeds-container {
	display: flex;
	flex-direction: column;
}

.chicken-breeds-container p {
	text-align: center;
	max-width: 200px;
	color: var(--gray);
}

.chicken-breeds {
	width: 200px;
	height: 200px;
	object-fit: cover;
	object-position: center;
	border: 0.2rem solid var(--turquoise);
	border-radius: 10%;
	margin-bottom: 1vh;
}

/*My attempt on psuedo class to target an element*/
.chicken-breeds-container:nth-of-type(2) img {
	object-position: right;
}

.hero-button {
	background-color: var(--green);
	font-size: 1.2rem;
	border: none;
	padding: 5px 25px;
	border-radius: 5px;
	font-weight: 700;
}

/*BLOCKQUOTE*/
#blockquote {
	padding: 10vh 20vw;
	background-color: var(--green);
}

#blockquote q {
	font-size: 3.1rem;
	font-weight: 100;
}

#blockquote p {
	font-size: 1.2rem;
	font-weight: 600;
	text-align: right;
	margin: 2%;
	color: var(--gray);
}

/*CALL SECTION OR WHATEVER YOU CALL IT*/
#action {
	padding: 10vh 20vw;
	background-image: url(images/eggs.jpg);
	background-size: cover;
	background-attachment: fixed;
}

.action-container {
	background-color: var(--turquoise);
	display: flex;
	justify-content: space-between;
	padding: 6% 7vw;
	gap: 10vw;
	border-radius: 5px;
	box-shadow: 0px 0px 10px var(--gray);
}

.action-content h3 {
	color: var(--gray);
	font-size: 1.4rem;
}

.action-content p {
	color: var(--gray);
	margin-top: 0.8vh;
	font-size: 1.2;
}

.action-container button {
	background-color: var(--turquoise);
	border: 2px solid var(--beige);
	color: var(--gray);
	font-size: 1.2rem;
	padding: 5px 25px;
	border-radius: 5px;
	font-weight: 700;
	text-wrap: nowrap;
	align-self: center;
}

/*THIS IS THE FOOTER*/
.footer {
	text-align: center;
	padding: 20px;
	color: var(--beige);
}

/*Some random things*/
button:hover {
	filter: brightness(1.1);
	transition: 0.15s;
}

button {
	/*it irritates me without the cursor on hover*/
	cursor: pointer;
}

a:hover {
	text-decoration: underline;
	color: var(--beige);
	transition: 0.15s;
}
